$base-img: '../images/';
$img-path: '../images/';
$fonts-path: '../fonts/';
$base-icons: '#{$img-path}icons/';
$em-base: 16px; //set Bourbon base size for em/rem calcs
$baseFont: Arial, Helvetica, sans-serif;
$regularFont: regularFont, sans-serif;
$lightFont: lightFont, sans-serif;
$boldFont: boldFont, sans-serif;
$baseFont: Arial, Helvetica, sans-serif;